<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <head th:replace="header1 :: header1"> </head>
</head>
<body >
    <div th:replace="header-video :: header-video"> </div>
    <div class="parallax-wraper">
        <div th:replace="header-buttons :: header-buttons"> </div>
        <div class="parallax">
            <div class="main1">
                <form>
                    <h3 th:text="#{greeting}"></h3>
                    <p th:text="#{intro.text}"/>
                </form>
                <form class="sendform1" method="POST" th:object="m">
                    <br/><p><span class="p2"><a href="mom/web/index.html" th:text="#{moms.art}"></a></span></p><br/>
                    <br/><p th:text="#{samples}"/><br/>
                    <span class="p2"><a
                            href="https://github.com/iva-nova-e-katerina/CachingObjects" th:text="#{allinone}"></a></span><br/>
                    <span class="p2"><a
                            href="https://github.com/iva-nova-e-katerina/insurance-test" th:text="#{insurancetest}"></a></span><br/>
                    <span class="p2"><a
                            href="https://github.com/iva-nova-e-katerina/chatserver" th:text="#{chatserver}"></a></span><br/>
                    <span class="p2"><a
                            href="https://github.com/iva-nova-e-katerina/numbertowords"  th:text="#{numtowords}"></a></span><br/>
                    <span class="p2"><a
                            href="https://github.com/iva-nova-e-katerina/mysite_v2" th:text="#{iceja.sources}"></a></span><br/>
                    <br/><span class="p2"><a th:href="#{resume.link}" th:text="#{resume}"></a></span><br/>
                    <br/>
                    <br/>
                    <br/>
                    <p th:text="#{talk.to.me}"></p>
                    <br/>
                    <p th:text="#{sender}"></p><input size="43" type="text" th:field="${m.sender}" /><br/>
                    <textarea cols="80" rows="18" class="almost1001" th:field="${m.text}">
                    </textarea>
                    <input type="submit" onclick=""/>


                </form>
            </div>
        </div>
        <div th:replace="footer :: footer2"> </div>
    </div>
</body>
<script type="application/javascript">
    function ValidateEmail(mail) {
        if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(myForm.emailAddr.value)) {
            return (true)
        }
        alert("You have entered an invalid email address!")
        return (false)
    }
</script>
</html>